html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')    
        link(rel='stylesheet', href='css/line-notify.css')
        link(rel='stylesheet', href='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        block scripts
        title LINE Notify Demo
    body
        block content