extends layout

block content
  .container
    .row  
      .col-md-4.offset-md-4
        .area.mx-auto.text-center
          .h4.py-2 LINE Web Login
          #web-login-button
            a.mx-auto(href='/auth/line')
          if ErrMsg 
            .alert.alert-danger= ErrMsg