html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')    
    link(rel='stylesheet', href='css/line-login.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    title LINE Alpha Bot Web Login
  body
    .container
      .row
        .col-md-4.col-md-offset-4
          .area
            .h4.text-center.area-margin LINE Alpha Bot Web Login
            #web-login-button.center-block.area-margin
              a.center-block(href='/auth/line')
            if ErrMsg 
              .text-center.alert.alert-danger= ErrMsg