doctype html
html
  head
    meta(name='viewport' content="width=device-wdith, initial-scale=1")    
    link(rel='stylesheet', href='css/line-login.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    title LINE Alpha Bot Web Login
  body
    .container
      .row
        .col-md-4.col-md-offset-4
          .area
            .center-block.profile-margin
              img(src= picture).profile-img.img-circle
              h3(text= name)
              .h4.text-center.area-margin= name            
              a.btn.btn-default.btn-lg(href='/auth/line/logout')
                span.glyphicon.glyphicon-log-out Logout
