extends layout

block content
  .container
    .row
      .col-md-4.offset-md-4
        .area.mx-auto.text-center
          img(src= picture).profile-img.rounded-circle
          h4.py-2= name            
          a.btn.btn-outline-secondary.btn-md(href='/auth/line/logout') Logout
